.root {
    -fx-background-image: url("file:///../rss/images/paysage-vert-ciel-bleu.jpg");
    -fx-background-size: cover; 
}

.Load {
	-fx-background-image: url("file:///../rss/images/ocean.jpg");
    -fx-background-size: cover; 
}

.ProgressLabel {
    -fx-font-family: 'Comic Sans MS';
    -fx-text-fill: white;
    -fx-alignment: CENTER;
	-fx-font-weight: bold;
}

.ToolBar {
	-fx-background-color: transparent;
	-fx-focus-traversable: false;
	
}

.slider .thumb {
	-fx-background-color: #a9e6f9;
    -fx-border-color: black; 
    -fx-border-width: 1; 
    -fx-border-radius: 50;
}

.slider .thumb:hover {
    -fx-border-color: black; 
}

.slider .thumb:pressed {
    -fx-border-color: white; 
}

.volume-button {
	-fx-background-color: transparent; 
    -fx-background-radius: 50%; 
    -fx-min-width: 40px; 
    -fx-min-height: 40px;
	-fx-font-size: 15px;
	-fx-border-color: black; 
	-fx-border-width: 2;
	-fx-border-radius: 50;
}



.help-button {
    -fx-background-color: transparent; 
    -fx-text-fill: black; 
    -fx-background-radius: 50%; 
    -fx-min-width: 40px; 
    -fx-min-height: 40px;
    -fx-font-family: 'Comic Sans MS';
	-fx-font-weight: bold; 
	-fx-font-size: 15px;
	-fx-border-color: black; 
	-fx-border-width: 2;
	-fx-border-radius: 50;
}

.help-button:hover{
	-fx-text-fill: white;
}

.Help {
	-fx-background-image: url("file:///../rss/images/clouds.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: #a9e6f9;
    -fx-font-family: 'Comic Sans MS';
}

.helpText {
    -fx-border-color: black; 
    -fx-border-width: 1px; 
    -fx-border-radius: 5px;
    -fx-font-size: 14;
    -fx-text-fill: black;
}
.HelpLabel{
	-fx-font-size: 18;
	-fx-font-weight: bold; 
}

.okHelpButton{
	-fx-font-size: 25; 
	-fx-font-weight: bold; 
	-fx-background-color: #a9e6f9; 
	-fx-background-radius: 10; 
	-fx-border-color: black; 
	-fx-border-width: 3;
	-fx-border-radius: 10;
}
.okHelpButton:hover {
	-fx-text-fill:white;
}


.menu{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-weight: bold; 
	-fx-border-color: black; 
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-background-color: #a9e6f9; 
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
	-fx-focus-traversable: false;
}

.context-menu {
    -fx-background-color: #a9e6f9;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.MenuButtons {
	-fx-focus-color: red;
	-fx-background-color: #a9e6f9;
	-fx-focus-traversable: false; 
}

.PlayButton {
	-fx-font-size: 50; 
	-fx-font-family: 'Comic Sans MS'; 
	-fx-font-weight: bold; 
	-fx-background-color: #a9e6f9; 
	-fx-background-radius: 10; 
	-fx-border-color: black; 
	-fx-border-width: 5;
	-fx-border-radius: 10;
}

.Settings {
    -fx-background-image: url("file:///../rss/images/Settings_Background.jpeg");
    -fx-background-size: cover;  
}

.TextFieldSettings {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.LabelSettings {
	-fx-text-fill: white;
	-fx-font-weight : bold;
}

.ButtonSettings {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}


.Models {
    -fx-background-image: url("file:///../rss/images/desert.jpg");
    -fx-background-size: cover;
}

.ButtonModels {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
	-fx-font-color : black;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.ManVsMan {
	-fx-border-color : black;
	-fx-border-radius: 10;
	-fx-border-width :3;
	-fx-background-color: #a9e6f9;
	-fx-background-radius: 10;
}

.AIVsMan {
	-fx-border-color : black;
	-fx-border-radius: 10;
	-fx-border-width :3;
	-fx-background-color: #a9e6f9;
	-fx-background-radius: 10;
}

.retourVsButton {
	-fx-font-size: 14; 
	-fx-font-weight: bold; 
	-fx-background-color: #a9e6f9; 
	-fx-background-radius: 10; 
	-fx-border-color: black; 
	-fx-border-width: 3;
	-fx-border-radius: 10;
}

.retourVsButton:hover {
	-fx-text-fill:white;
}

.HboxRadio{
	-fx-alignment: center;
}

.TextFieldVersus {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-font-weight : bold;
	-fx-border-color : black;
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
    -fx-background-color: #87cefa;
	-fx-max-width: 85px;
	-fx-max-height: 85px;
}

.LabelVersus {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-font-weight : bold;
	-fx-font-size: 14; 
	-fx-padding: 5px 0 0 0;
}

.VboxVersus{
	-fx-translate-y: -20;
}

.radio-button .radio {
    -fx-background-color: #87cefa;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-border-color: black;
}

.radio-button:selected .radio .dot {
    -fx-background-color: black;
    -fx-background-radius: 15px;
}

.ProgressBar {
	-fx-accent: #a9e6f9;
}

.textFieldLoad{
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.Cases {
	-fx-opacity : 0.8;
	-fx-border-color : black;
	-fx-border-radius: 27;
	-fx-border-width :3;
	-fx-background-color: #a9e6f9;
	-fx-background-radius: 30;
	-fx-font-size : 43;
	-fx-font-family: 'Comic Sans MS'; 
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.Win{
	-fx-background-image: url("file:///../rss/images/Win.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}

.textFieldWin{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
	-fx-text-fill : red;
	-fx-background-color: white;
	-fx-background-radius: 20;
    -fx-border-color: black; 
    -fx-border-width: 1; 
    -fx-border-radius: 20;
}

.ButtonsWin {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.Lose{
	-fx-background-image: url("file:///../rss/images/Lost.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}

.textFieldLose{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
	-fx-text-fill : red;
	-fx-background-color: white;
	-fx-background-radius: 20;
    -fx-border-color: black; 
    -fx-border-width: 1; 
    -fx-border-radius: 20;
}

.ButtonsLose {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.DrawHuman{
	-fx-background-image: url("file:///../rss/images/draw_human.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}

.DrawRobot{
	-fx-background-image: url("file:///../rss/images/Draw_Robot.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}



.textFieldDraw{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
	-fx-text-fill : blue;
	-fx-background-color: white;
	-fx-background-radius: 20;
    -fx-border-color: black; 
    -fx-border-width: 1; 
    -fx-border-radius: 20;
}

.ButtonsDraw{
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.timer{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-weight: bold;
	-fx-border-color : black;
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
    -fx-background-color: #87cefa;
    -fx-max-width: 100px;
    -fx-max-height: 10px;
    -fx-min-width: 85px;
    -fx-background-radius: 10px;
}


.LabelNamesGame{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-weight: bold;
	
}

.LabelTurn{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-weight: bold;
	
}

.VBoxGame{
	-fx-translate-y: -30;
}