.root {
    -fx-background-image: url("https://image.freepik.com/vecteurs-libre/paysage-vert-ciel-bleu_74689-139.jpg");
    -fx-background-size: cover; 
}

.ToolBar {
	-fx-background-color: transparent;
	-fx-focus-traversable: false;
	
}

/*.menu-item si on veut modifier les items dans la menu bar*/

.menu{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-weight: bold; 
	-fx-border-color: black; 
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-background-color: #a9e6f9; 
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
	-fx-focus-traversable: false;
}

.context-menu {
    -fx-background-color: #a9e6f9;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.MenuButtons {
	-fx-focus-color: red;
	-fx-background-color: #a9e6f9;
	-fx-focus-traversable: false; 
}

.PlayButton {
	-fx-font-size: 50; 
	-fx-font-family: 'Comic Sans MS'; 
	-fx-font-weight: bold; 
	-fx-background-color: #a9e6f9; 
	-fx-background-radius: 10; 
	-fx-border-color: black; 
	-fx-border-width: 5;
	-fx-border-radius: 10;
}

.Settings {
    -fx-background-image: url("file:///../rss/images/Settings_Background.jpeg");
    -fx-background-size: cover;  
}

.TextFieldSettings {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.LabelSettings {
	-fx-text-fill: white;
	-fx-font-weight : bold;
}

.ButtonSettings {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.Models {
    -fx-background-image: url("file:///../rss/images/model_background.png");
    -fx-background-size: cover;  
}

.ButtonModels {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.ManVsMan {
	-fx-border-color : #2b78e4;
	-fx-border-radius: 10;
	-fx-border-width :3;
	-fx-background-color: #a9e6f9;
	-fx-background-radius: 10;
}

.AIVsMan {
	-fx-border-color : #2b78e4;
	-fx-border-radius: 10;
	-fx-border-width :3;
	-fx-background-color: #a9e6f9;
	-fx-background-radius: 10;
}

.HboxRadio{
	-fx-alignment: center;
}

.ProgressBar {
	-fx-accent: #a9e6f9;
}

.textFieldLoad{
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.Cases {
	-fx-opacity : 0.8;
	-fx-border-color : black;
	-fx-border-radius: 27;
	-fx-border-width :3;
	-fx-background-color: #a9e6f9;
	-fx-background-radius: 30;
	-fx-font-size : 43;
	-fx-font-family: 'Comic Sans MS'; 
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.Win{
	-fx-background-image: url("file:///../rss/images/Win.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}

.textFieldWin{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
	-fx-text-fill : red;
}

.ButtonsWin {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.Lose{
	-fx-background-image: url("file:///../rss/images/Lost.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}

.textFieldLose{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
	-fx-text-fill : red;
}

.ButtonsLose {
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}

.DrawHuman{
	-fx-background-image: url("file:///../rss/images/draw_human.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}

.DrawRobot{
	-fx-background-image: url("file:///../rss/images/Draw_Robot.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: stretch;
}



.textFieldDraw{
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 30; 
	-fx-font-weight: bold; 
	-fx-text-fill : blue;
}

.ButtonsDraw{
	-fx-font-family: 'Comic Sans MS'; 
	-fx-background-color: #87cefa;
	-fx-border-color : black;
	-fx-font-weight : bold;
    -fx-spacing: 10;
    -fx-border-radius: 10;
	-fx-background-radius: 10;
}
